#rutas de entornos
venv/
__pycache__/
build/
utilities/
.pytest_cache/
#rutas de ejecutables
output/

#archivos de configuración
.gitignore
setup.py
zipall.py
config.json
setup-config.json
#archivos de prueba
prueba*.py

#archivos sensibles
calendario.json
*.db