#rutas de entornos
venv/*
**/__pycache__
**/build/

#rutas de ejecutables
**/_internal/

#archivos de configuración
*.spec 
.gitignore
#archivos de prueba
prueba*.py

#archivos sensibles
calendario.json
*.db